.movies {
  padding: 5%;

  h1 {
    margin-right: 12px;
    color: #FFFFFF;
  }

  img {
    cursor: pointer;
  }

  &__title {
    font-size: 48px;
    @media screen and (max-width: 599px) {
      font-size: 28px;
    }
  }

  &__paginator {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__header-left-side, &__header-right-side {
    display: flex;
  }

  &__logout {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }

  &__no-template {
    height: calc(75dvh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      h1 {
        text-align: center;
      }

      button {
        width: 100%;
      }
    }
  }

  &__cards {
    width: calc(25% - 2%);
    @media screen and (max-width: 768px) {
      width: calc(50% - 2%);
    }
    @media screen and (max-width: 599px) {
      width: 100%;
    }
  }
}
